<!-- display_shares_shamirs_pairing_func.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generated shares - Asmut-Bloom SSS w/pairing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<!-- Top Menu -->
<nav>
    <ul>
        <li><a href="{{ url_for('index') }}">Input Location & Scheme</a></li>
        <li><a href="{{ url_for('display_shares') }}">View Shares & Reconstruct</a></li>
    </ul>
</nav>

<h1>Generated shares - Asmut-Bloom SSS w/pairing</h1>


<table>
    <tr>
        <th>Share #</th>
        <th>App Name</th>
        <th>Share Value</th>
        <th>Moduli Value</th>
    </tr>
    {% for share, moduli, app in result.shares %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ app }}</td>
        <td>{{ share }}</td>
        <td>{{ moduli }}</td>
    </tr>
    {% endfor %}
</table>

<p><strong>Share creation time :</strong> {{time}} </p>
<p><strong>Memory used under share creation</strong> {{mem}} </p>

<a href="{{ url_for('reconstruct') }}" class="button"  style="padding: 10px 15px; background-color: #4CAF50; color: white; border: none;
cursor: pointer; border-radius: 8px;margin-top: 10px; font-size: 16px;">Reconstruct Location</a>
</body>
</html>
