<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reconstrcuted Location - Shamir's SSS w/2 polynomial</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<!-- Top Menu -->
<nav>
  <ul>
    <li><a href="{{ url_for('index') }}">Input Location & Scheme</a></li>
    <li><a href="{{ url_for('display_shares') }}">View Shares & Reconstruct</a></li>
  </ul>
</nav>

<h1>Reconstrcuted Location - Shamir's SSS w/2 polynomial</h1>
<p><strong>Recovered Latitude:</strong> {{ recovered_latitude }}</p>
<p><strong>Recovered Longitude:</strong> {{ recovered_longitude }}</p>
<p><strong>Recovered City:</strong> {{ recovered_city }}</p>
<p><strong>Recovered Country:</strong> {{ recovered_country }}</p>

<p><strong>Time used to reconstruct the secret location:</strong> {{time}} </p>
<p><strong>Memory used under reconstruction</strong> {{mem}} </p>

<a href="{{ url_for('index') }}" class="button" style="padding: 10px 15px; background-color: #4CAF50; color: white; border: none;
cursor: pointer; border-radius: 8px;margin-top: 10px; font-size: 16px;">Back to Main Page</a>
</body>
</html>
